.homeLinks {
  text-decoration: none;
  font-size: 2rem;
  color: var(--baseColor);

  transition: all 0.5s;
}

.homeLinks:hover {
  opacity: 70%;
}

.logo {
  height: 5rem;
  width: 5rem;

  transition: all 0.5s;
}

.logo:hover {
  opacity: 70%;
}