@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

:root {
  --baseColor: #0a192f;
  --primaryColor: #ccd6f7;
  --primaryDarkColor: #8892b0;
  --secondaryColor: #59c6ba;
  
  --primaryFont: 'Intern', sans-serif;
  --secondaryFont: 'Permanent Marker', cursive;
  
  scroll-behavior: smooth;
}

 body {
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    height: 100vh;

}

 body::-webkit-scrollbar {
   width: 8px;
 }

 body::-webkit-scrollbar-track {
   background: var(--baseColor);
 }

 body::-webkit-scrollbar-thumb {
   background-color: var(--primaryDarkColor);
   border-radius: 15px;
 }